<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JAS Jukebox</title>
    <link rel="stylesheet" href="assets/styles.css">
    {{{script}}}
  </head>
  <body>

    <div id="section:header" class="header">
      <div class="side">
          <button id="control:change" class="control-button change">CHANGE</button>
      </div>

      <div class="center">
        <div class="lcd">
          <div class="now-playing">
            <div class="title text-center">NOW PLAYING</div>
            <div id="title-text">&nbsp;</div>
            <div id="artist-text">&nbsp;</div>
            <div id="album-text">&nbsp;</div>
            <div class="split">
              <div style="flex: 1">Run Time:</div>
              <div style="flex: 0">
                <span id="run-time-remaining">00:00</span>
              </div>
              &nbsp;/&nbsp;
              <span id="run-time">
                00:00
              </span>
            </div>
            <div class="split">
              <div>Coming Up: <span id="queue-length">0</span></div>
              <div id="queue-runtime">00:00</div>
            </div>
          </div>
          <div class="credit-selection">
            <div class="title">CREDITS</div>
            <div id="display:credits">01</div>
            <div class="title">SELECTION</div>
            <div id="display:selection">--</div>
          </div>
          <div class="coming-up">
            <div class="title">COMING UP</div>
            <div id="display:list-coming-up"></div>
          </div>
        </div>
      </div>

      <div class="side">
          <button id="control:previous-page" class="control-button previous">&lt;</button>
          <button id="control:skip" class="control-button skip">SKIP</button>
          <button id="control:next-page" class="control-button next">&gt;</button>
      </div>
    </div>

    <div id="section:board" class="board"></div>

    <div id="section:footer" class="footer"></div>

    <script src="main.js"></script>
  </body>
</html>
