<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JAS Jukebox</title>
    <link rel="stylesheet" href="assets/styles.css">
    {{{script}}}
  </head>
  <body>
    <div class="now-playing lcd side">
      <div id="title-text">&nbsp;</div>
      <div id="artist-text">&nbsp;</div>
      <div id="album-text">&nbsp;</div>
      <div class="split">
        <div style="flex: 1">Run Time:</div>
        <div style="flex: 0">
          <span id="run-time-remaining">00:00</span>
        </div>
        &nbsp;/&nbsp;
        <span id="run-time">
          00:00
        </span>
      </div>
      <div class="split">
        <div>Coming Up: <span id="queue-length">0</span></div>
        <div id="queue-runtime">00:00</div>
      </div>
    </div>

    <div id="coming-up" class="coming-up lcd side"></div>
    <div id="board"></div>
    <script src="main.js"></script>
  </body>
</html>
