@font-face {
  font-family: "LED Dot Matrix";
  src: url("./LED Dot-Matrix.ttf");
}

@font-face {
  font-family: 'Steelfish';
  src: url("./steelfis.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
